<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bicycle Diaries</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <a href="/">Bicycle Diaries</a>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if logged_in? %>
            <li>Signed in as <%= "#{current_user.firstname} #{current_user.lastname}" %></li>
            <li><a href= <%= "/users/#{current_user.id}"%> >Profile</a></li>
            <li><%= link_to "Sign Out", logout_path, method: :delete, class: "button" %></li>
          <% else %>
            <li><%= link_to "Sign In with Strava", "/auth/strava", class: "button" %></li>
          <% end %><li>
        </ul>
      </div>
    </div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <h1 class="site-title">Bicycle Diaries</h1>
    <%= yield %>
    <div id="app" class="row"></div>
  </body>
</html>
